@keyframes moveIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.cartWrapper {
    position: fixed;
    inset: 0;
}

.cartOverlay {
    position: absolute;
    inset: 0;
    background-color: #00000073;
    animation: fadeIn 1 forwards 0.3s;
}

.close .cartOverlay {
    animation: fadeOut 1 forwards 0.3s;
}

.cart {
    position: relative;
    padding: 25px 25px 60px;
    width: 30%;
    height: 100%;
    float: right;
    background-color: var(--header-color);
    z-index: 1;
    animation: moveIn 1 forwards 0.3s;
}

.close .cart {
    animation: moveOut 1 forwards 0.3s;
}

.cartClose {
    position: relative;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.cartClose:hover::before,
.cartClose:hover::after {
    background-color: var(--accent-color);
}

.cartClose::before,
.cartClose::after {
    content: "";
    position: absolute;
    top: 0;
    width: 2px;
    border-radius: var(--border-radius);
    height: 100%;
    background-color: #fff;
    transition: 0.14s ease-in-out;
}

.cartClose::before {
    transform: rotateZ(45deg);
}

.cartClose::after {
    transform: rotateZ(-45deg);
}

.cartTitle {
    text-align: center;
    font-size: 2rem;
    font-family: var(--font);
    font-weight: var(--regular-weight);
    color: var(--text-color);
}

.cartContainer {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    align-items: stretch;
}

.cartText {
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--font);
    font-weight: var(--regular-weight);
    color: var(--text-color);
}

.productContainer {
    width: 100%;
    padding: 0 5px;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 20px;
}

.productContainer::-webkit-scrollbar {
    width: 10px;
}

.productContainer::-webkit-scrollbar-track {
    background-color: var(--scrollbar-background-color);
    border-radius: var(--border-radius);
}

.productContainer::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
}

.cartSubmitContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.cartTotal {
    font-family: var(--font);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: var(--regular-weight);
}